.object1 {
   -webkit-animation: action 1s infinite alternate;
   animation: action 2s infinite alternate;
}

.object2 {
   -webkit-animation: action 2s infinite alternate;
   animation: action 2.5s infinite alternate;
}

.object3 {
   -webkit-animation: action 1.2s infinite alternate;
   animation: action 2s infinite alternate;
}

.object4 {
   -webkit-animation: action 1.8s infinite alternate;
   animation: action 4s infinite alternate;
}

.object5 {
   -webkit-animation: action 12s infinite alternate;
   animation: action 1.4s infinite alternate;
}

@-webkit-keyframes action {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-30px);
   }
}

@keyframes action {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-30px);
   }
}

.container {
   height: 100px;
   position: relative;
   overflow: hidden;
}

.photobanner {
   position: absolute;
   width: 190%;
   top: 0px;
   left: 0px;
   height: 100px;
   overflow: hidden;
   display: flex;
   gap: 1rem;
   white-space: nowrap;
   background-image: url('../assets/images/marktcomponent.png') repeat-x;
   animation: bannermove 30s linear infinite;

   @media only screen and (min-width: 600px) {
      &:hover {
         animation-play-state: paused;
      }
   }
}

@keyframes bannermove {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-50%, 0);
   }
}
